.StyleSignin{
    background-image: url("./../../assets/img/destino/São-Francisco-Califórnia.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    padding: 20px;
}